.table-bordered>tbody>tr>td.une_heure {
    border-top: 1px solid #e4e7ea !important;
    border-bottom: 1px dashed #e4e7ea !important;
    padding: 5px 8px 15px 8px;
    text-align: right;
}

.table-bordered>tbody>tr>td.une_demi_heure {
    border-top: 1px dashed #e4e7ea !important;
    border-bottom: 1px solid #e4e7ea !important;
    padding: 5px 8px 15px 8px;
    text-align: right;
    font-size: 12px;
}

.table-determine-classes {

}

.table-determine-classes>tbody>tr>td.time-horaire {
    position: relative;
    padding: 0;
    height: 232px;
}

.table-determine-classes>tbody>tr>td.time-horaire .horaire {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f7f7f7 ;
    color: #9675ce;
    font-size: 72px;

    width: 100%;
    height: 100%;

    opacity: 0.1;
    font-weight: 700;
    z-index: 1;
}

.table-determine-classes>tbody>tr>td.time-horaire .container-espaces-salles {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.table-determine-classes>tbody>tr>td.time-horaire .espaces-salles {
    text-align: center;
    display: block;
    float: right;
    margin: 10px 10px 0 10px ;
    width: 100px;
    height:100px;
    position: relative;
    padding: 20px 0 10px 0;

    background: rgba(255, 5, 5, .3);
    color: #ffffff;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.table-determine-classes>tbody>tr>td.time-horaire .espaces-salles:hover,
.table-determine-classes>tbody>tr>td.time-horaire .espaces-salles:focus {
    background: rgba(254, 193, 7, 0.4);
    color: #000000;
}

.table-determine-classes>tbody>tr>td.time-horaire .classe-existe {
    background: rgba(0, 194, 146, .6);
    color: #ffffff;

}


.table-determine-classes>tbody>tr>td.time-horaire .espaces-salles .nom-classe {
    display: block;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.table-determine-classes>tbody>tr>td.time-horaire .espaces-salles .local-salle {
    display: inline-block;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000000;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

}

.table-determine-classes>tbody>tr>td.time-horaire-display {
    position: relative;
    padding: 50px 0 0 0;
}

.table-determine-classes>tbody>tr>td.time-horaire-display .horaire {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f7f7f7 ;
    color: #9675ce;
    font-size: 46px;

    width: 100%;
    height: 100%;
    padding-left: 20px;

    opacity: 0.3;
    font-weight: 700;
    z-index: 1;
}


.table-determine-classes>tbody>tr>td.time-horaire-display .couche-selection {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    z-index: 2;

    background: rgba(207, 240, 255, .1);

    border: 1px dashed #9675ce;
}

.table-determine-classes>tbody>tr>td.time-horaire-display .espaces-salles {
    text-align: center;
    display: block;
    float: none;
    width: 80%;
    margin: 10px auto ;
    position: relative;
    padding: 20px;

    background: rgba(0, 194, 146, .6);

    color: #ffffff;
    border: 2px solid #00c292;
    position: relative;
    z-index: 10;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.table-determine-classes>tbody>tr>td.time-horaire-display .espaces-salles-complet {
    color: #ffffff;

    background: rgba(251, 58, 58, .6);

    border: 2px solid #fb3a3a;
    position: relative;

}

.table-determine-classes>tbody>tr>td.time-horaire-display .espaces-salles .nom-classe {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

.table-determine-classes>tbody>tr>td.time-horaire-display .espaces-salles .local-salle {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #00c292;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.table-determine-classes>tbody>tr>td.time-horaire-display .espaces-salles .nombre-inscris {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 1px;

}

.table-determine-classes>tbody>tr>td.time-horaire-display .espaces-salles .nombre-inscris i {
    font-size: 20px;
}

.table-determine-classes>tbody>tr>td.time-horaire-display .espaces-salles-complet .local-salle {
    color: #fb3a3a;
    background-color: #ffffff;
}


.table-determine-classes>tbody>tr>td.time-horaire-display .classe-existe {
    color: #ffffff;

    background: rgba(171, 140, 228, .6);

    border: 2px solid #ab8ce4;
    position: relative;

}


.table-determine-classes>tbody>tr>td.time-horaire-display .espaces-salles-selectionee {

    background: rgba(0, 194, 146, .6);

    color: #ffffff;
    border: 2px solid #00c292;

}


.table>thead>tr>td.active-col,
.table-bordered>tbody>tr>td.active-col{
    background-color: #35baf5!important;;

    color: #fff!important;;
}

.table>thead>tr>th.active-col {
    background-color: #03a9f3!important;;

    color: #fff!important;;
}
